@font-face {
  font-family: "ValorantFont";
  src: local("ValorantFont"), url(./fonts/ValorantFont.ttf);
}

.App {
  text-align: center;
  background-color: #ece7e1;
  color: #ad505d;
}

.App-header {
  background-color: #ad505d;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #ece7e1;
  font-family: "ValorantFont";
}

/* https://colorhunt.co/palette/f67280c06c846c5b7b355c7d */
